.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 40px;
    border-radius: 15px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: margin-top 150ms ease-in-out;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 40px;
}
.navigation.docked {
    margin-top: 0;
}

.navigation span {
    text-decoration: none;
    text-transform: uppercase;
    color: #D1D1D1;
    font-family: "Sitka Heading", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

#pageHead {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 300px 0 0;
}
#pageHead::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, transparent, #000);
}
#pageHead .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 260px;
    max-width: 45%;
    transform: translate(-20%, 25%);
}
#pageHead .photographer {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
}
#pageHead .introduction {
    padding: 0 100px 200px; 
}
#pageHead h1 {
    font-size: 2em;
}

.section {
    position: relative;
    padding: 60px 80px 200px;
}
.section h2 {
    font-size: 4em;
    letter-spacing: 2px;
}

.section.soutez {
    background-color: #101010;
}
.section.soutez p {
    max-width: 60%;
    line-height: 3;
}

.kategorie h2 {
    text-align: right;
}
.section.kategorie {
    background: #191919;
}
.section.kategorie .triangle {
    padding: 90px 30px 50px;
    justify-content: flex-end;
    background: linear-gradient(to bottom right, transparent 48%, #000 50%, #191919 50%);
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
}

.section.prihlaska {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.section.prihlaska h2 {
    margin: 0;
    margin-bottom: 15px;
}
.section.prihlaska > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    list-style: none;
    color: #ACACAC;
}
.categories li {
    position: relative;
    font-size: 2em;
    margin-top: 40px;
}
.categories li:first-child {
    margin-top: 0;
}
.categories li::before {
    position: absolute;
    content: ">";
    color: #474747;
    transform: translateX(-150%);
    transition: transform 300ms ease-out;
}
.categories li.open::before {
    transform: translateX(-150%) rotate(90deg);
}

.categoryContent {
    max-height: 0;
    font-size: 0.6em;
    transform: rotateX(90deg);
    transform-origin: top center;
    transition: max-height 300ms linear, transform 300ms ease-out;
}
.categories li.open .categoryContent {
    max-height: 100px;
    transform: rotateX(0deg);
}

.cameraPhoto {
    position: relative;
    height: 100vh;
    width: 100%;
}
.cameraPhoto img {
    height: 100%;
}
.cameraPhoto div.triangle {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
}
.cameraPhoto div.photo {
    background-image: url(/images/camera.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-position: 100px 0px; */
}
.cameraPhoto div.triangle:nth-child(1) {
    top: 0;
    background: linear-gradient(to top right, transparent 45%, black 50%, #191919 50%);
}
.cameraPhoto div.triangle:nth-child(3) {
    bottom: 0;
    background: linear-gradient(to bottom left, transparent 45%, black 50%, #191919 50%);
}

.footer {
    padding: 60px 100px;
    background-color: #1D1D1D;
}
.footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer > div > div {
    padding: 0 10px;
}

.map div {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
.question, .faq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.question > div {
    display: flex;
    justify-content: center;
}
.question .row {
    display: flex;
    gap: 2em;
}
.footer .question div {
    width: 100%;
}
.footer .question label, .footer .question input {
    display: block;
    width: 100%;
}
.footer label {
    margin: 10px 0 5px;
    padding-left: 10px;
    color: #7F7F7F;
    font-weight: bold;
}

.footer input {
    background-color: #262626;
    padding: 0.5em 0.5em;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px #000;
}


.applicationPoints {
    list-style: decimal;
    max-width: 40%;
}
.applicationPoints li {
    margin-top: 100px;
}
.applicationPoints li:first-child {
    margin-top: 0;
}
.applicationPoints li::marker, .applicationPoints span {
    font-size: 2.5em;
}

.stage {
    position: relative;
    background-image: url(/images/onstage.jpg);
    background-position: center left;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stage::before, .stage::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
}
.stage::before {
    top: 0;
    background: linear-gradient(to top, transparent, black);
}
.stage::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
}
.stage span {
    display: block;
    padding: 20px 40px;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
}

.projekce > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projekce > div:first-child h2 {
    text-transform: uppercase;
}
.projekce > div:first-child span {
    width: 60%;
    text-align: center;
}
.videoExamples {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}
.videoExamples div.video {
    position: relative;
    cursor: pointer;
    width: 40%;
}
.videoExamples div.video img {
    width: 100%;
    filter: blur(2px);
}

div.playBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.porota {
    background-color: #101010;
    color: #707070;
}
.porota h2 {
    margin: 60px 0 100px;
    text-transform: uppercase;
}
.porota p {
    line-height: 3;
}
.porota > div {
    padding-left: 50px;
}
.porota .separator {
    width: 100%;
    height: 5px;
    background-color: #191919;
    margin: 80px 0;
}
.porotci {
    display: flex;
    justify-content: space-between;
}
.porotci li {
    padding-left: 40px;
    margin-top: 50px;
}
.porotci li:first-child {
    margin-top: 0;
}
.porotci div {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    color: #E8E8E8;
    height: auto;
    width: 40%;
    font-size: 3em;
}

@media (max-width: 1300px){
    .section h2 {
        font-size: 3em;
        letter-spacing: 0;
    }
    .navigation {
        flex-wrap: wrap;
    }
    .navigation span {
        font-size: 1.1em;
        padding: 0.15em;
    }
    .categories li {
        font-size: 1.6em;
        margin-top: 30px;
    }
    .applicationPoints li::marker, .applicationPoints span {
        font-size: 2em;
    }
    .porota > div {
        padding-left: 10px;
    }
    .section {
        padding: 40px 60px 200px;
    }
    .stage, .cameraPhoto {
        height: 80vh;
    }
    .cameraPhoto div.triangle {
        height: 150px;
    }
    .stage span {
        padding: 10px 20px;
        font-size: 2.5em;
    }
    #pageHead {
        padding: 180px 0 0;
    }
}
@media (max-width: 900px){
    .section h2 {
        font-size: 2.5em;
    }
    #pageHead .introduction {
        padding: 0 60px 200px; 
    }
    .navigation {
        margin: 0;
        padding: 20px;
        justify-content: center;
        gap: 10px;
    }
    .navigation span {
        font-size: 0.9em;
    }
    .categories li {
        font-size: 1.2em;
    }
    .section.kategorie .triangle {
        padding: 70px 20px 0;
    }
    .section {
        padding: 30px 40px 200px;
    }
    .stage, .cameraPhoto {
        height: 60vh;
    }
    .cameraPhoto div.triangle {
        height: 110px;
    }
    .stage span {
        font-size: 1.6em;
    }
    .porotci {
        flex-direction: column;
    }
    .porotci div {
        width: 100%;
        margin-top: 60px;
        font-size: 2.5em;
        padding: 50px 0;
    }
    .footer {
        padding: 30px 5px;
    }
    .footer > div {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .section.prihlaska {
        flex-direction: column;
        align-items: flex-start;
    }
    .applicationPoints {
        margin-top: 60px;
        max-width: 100%;
    }
    .applicationPoints li::marker, .applicationPoints span {
        font-size: 1.6em;
    }
    .applicationPoints li {
        margin-top: 70px;
    }
}
@media (max-width: 600px){
    .section h2 {
        margin: 0.2em 0 0.5em;
    }
    #pageHead .introduction {
        padding: 0 30px 180px; 
    }
    .section.soutez p {
        max-width: 100%;
    }
    .categories li {
        margin-top: 30px;
    }
    .kategorie h2 {
        margin-bottom: 0;
    }
    .section {
        padding: 30px 5px 120px;
    }
    .porotci div {
        width: 100%;
        margin-top: 60px;
        font-size: 2.5em;
        padding: 50px 0;
    }
    .applicationPoints li {
        margin-top: 40px;
    }
    .stage span {
        font-size: 1.2em;
    }
    .videoExamples {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 70px;
    }
    .videoExamples div.video {
        width: 100%;
    }
    .porotci ol {
        margin: 0;
        padding-left: 15px;
    }
    .porotci li {
        padding-left: 10px;
        margin-top: 30px;
    }
    .cameraPhoto div.triangle {
        height: 80px;
    }
}