.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 40px;
    border-radius: 15px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: margin-top 150ms ease-in-out;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #D1D1D1;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
}

#pageHead {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 300px 0 0;
}
#pageHead::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, transparent, #000);
}
#pageHead .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    transform: translate(-80px, 100px);
}
#pageHead .photographer {
    position: absolute;
    top: 0;
    right: 0;
    height: 120%;
}
#pageHead .introduction {
    padding: 0 30px 200px; 
}
#pageHead h1 {
    font-size: 2em;
}

.section {
    position: relative;
}
.section h2 {
    font-size: 4em;
}
.section p {
    max-width: 60%;
    line-height: 3;
}
.sectionContent {
    padding: 60px 30px;
    padding-bottom: 200px;
}
.sectionTitle {
    padding: 90px 30px 50px;
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
}

.section:nth-of-type(1) .sectionContent {
    background-color: #101010;
}

.section:nth-of-type(2) .sectionContent{
    background: #191919;
}
section:nth-of-type(2) .sectionTitle {
    justify-content: flex-end;
    background: linear-gradient(to bottom right, transparent 48%, #000 50%, #191919 50%);
}

.section:nth-of-type(3) .sectionContent {
    background-color: #535353;
}


.categories {
    list-style: none;
    color: #ACACAC;
}
.categories li {
    position: relative;
    font-size: 2em;
    margin-top: 20px;
}
.categories li:first-child {
    margin-top: 0;
}
.categories li::before {
    position: absolute;
    content: ">";
    color: #474747;
    transform: translateX(-150%);
    transition: transform 300ms ease-out;
}
.categories li.open::before {
    transform: translateX(-150%) rotate(90deg);
}

.categoryContent {
    max-height: 0;
    font-size: 0.6em;
    transform: rotateX(90deg);
    transform-origin: top center;
    transition: max-height 300ms linear, transform 300ms ease-out;
}
.categories li.open .categoryContent {
    max-height: 100px;
    transform: rotateX(0deg);
}

.cameraPhoto {
    position: relative;
    height: 1000px;
    width: 100%;
}
.cameraPhoto img {
    height: 100%;
}
.cameraPhoto div.triangles {
    position: absolute;
    left: 0;
    right: 0;
    height: 250px;
}
.cameraPhoto div.photo {
    background-image: url(/images/camera.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.cameraPhoto div.triangles:nth-child(1) {
    top: 0;
    background: linear-gradient(to top right, transparent 45%, black 50%, #191919 50%);
}
.cameraPhoto div.triangles:nth-child(3) {
    bottom: 0;
    background: linear-gradient(to bottom left, transparent 45%, black 50%, #535353 50%);
}

.footer {
    padding: 60px 100px;
    background-color: #1D1D1D;
}
.footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer > div > div {
    padding: 0 10px;
}

.map div {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.question .row {
    display: flex;
    gap: 2em;
}
.footer .question div {
    width: 100%;
}
.footer .question label, .footer .question input {
    display: block;
    width: 100%;
}