.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 40px;
  border-radius: 15px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: margin-top 150ms ease-in-out;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 40px;
}
.navigation a {
  color: currentColor;
  text-decoration: none;
}
.navigation.docked {
  margin-top: 0;
}

.navigation span {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #a5a5a5;
  font-family: "Sitka Heading", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 150ms ease-in 50ms;
}
.navigation span:hover {
  transform: translateY(-10px);
}
.navigation span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  border-radius: 100px;
  background-color: #7273AA;
  transition: width 150ms ease-in 50ms;
}
.navigation span:hover::after {
  width: 100%;
}

#pageHead {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 170px 0 350px;
  margin-top: 150px;
}
#pageHead::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, transparent, #000);
}
#pageHead .logo {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 245px;
  max-width: 45%;
  width: 50%;
  height: 100%;
  transform: translate(-19vw, 25%) rotate(-10deg);
  animation: run-in 1.5s ease;
}
@keyframes run-in {
  0% {
      transform: translate(-100%, 25%) rotate(-10deg);
  }
  100% {
      transform: translate(-35%, 25%) rotate(-10deg);
  }
}
#pageHead .introduction {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 100px 260px;
  transform: translateX(-100%);
  animation: pull-in 1s ease-out 1s forwards;
}
@keyframes pull-in {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: initial;
  }
}
#presenting {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 100%;
  animation: presenting-out 1500ms cubic-bezier(0.5,0,1,.65) forwards;
}
@keyframes presenting-out {
  0%, 70% {
      opacity: 1;
      width: 30%;
  }
  100% {
      opacity: 0;
      width: 5%;
  }
}

.hidden {
  visibility: hidden !important;
  animation: none !important;
}

.introduction h1 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 30px;
}
#pageHead .photographer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.section {
  position: relative;
  padding: 60px 80px 200px;
  color: #ACACAC;
}
.section h2 {
  font-size: 4em;
  letter-spacing: 2px;
  color: #D1D1D1;
}
.section p {
  font-size: large;
}

.section.soutez {
  background-color: #101010;
}
.section.soutez p {
  max-width: 60%;
  line-height: 2;
}

.kategorie h2 {
  text-align: right;
}
.section.kategorie {
  background: #191919;
}
.section.kategorie .triangle {
  padding: 90px 30px 50px;
  justify-content: flex-end;
  background: linear-gradient(to bottom right, transparent 48%, #000 50%, #191919 50%);
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

.section.prihlaska {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.section.prihlaska h2 {
  margin: 0;
  margin-bottom: 15px;
}
.section.prihlaska > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prihlaska > div:first-child p {
  margin: 0;
}
.prihlaska a, .propozice {
  color: #0364B8;
}
.prihlaska a:visited, .propozice:visited {
  color: #7273AA;
}
.applicationClosing {
  font-family: Arial;
  color: #0364B8;
}

.propozice {
  font-size: 1.5em;
}
.kategorie > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rewards {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rewards li {
  font-size: 1.6em;
  width: max-content;
}
.categories ul {
  font-size: 2em;
}
.categories li {
  margin-top: 40px;
}
.categories li:first-child {
  margin-top: 0;
}

.cameraPhoto {
  position: relative;
  height: 100vh;
  width: 100%;
}
.cameraPhoto img {
  height: 100%;
}
.cameraPhoto div.triangle {
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
}
.cameraPhoto div.photo {
  background-image: url(/images/camera.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-position: 100px 0px; */
}
.cameraPhoto div.triangle:nth-child(1) {
  top: 0;
  background: linear-gradient(to top right, transparent 45%, black 50%, #191919 50%);
}
.cameraPhoto div.triangle:nth-child(3) {
  bottom: 0;
  background: linear-gradient(to bottom left, transparent 45%, black 50%, #191919 50%);
}

.footer {
  display: flex;
  min-height: 50vh;
}
.footer iframe {
  flex-grow: 1;
}

.map div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.question, .faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question > div {
  display: flex;
  justify-content: center;
}
.question .row {
  display: flex;
  gap: 2em;
}

.applicationPoints {
  list-style: decimal;
  max-width: 40%;
}
.applicationPoints li {
  margin-top: 100px;
}
.applicationPoints li:first-child {
  margin-top: 0;
}
.applicationPoints li::marker, .applicationPoints span {
  font-size: 2.5em;
}
.applicationPoints p {
  line-height: 2;
}

.stage {
  position: relative;
  background-image: url(/images/onstage.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.stage::before, .stage::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 15px;
}
.stage::before {
  top: 0;
  background: linear-gradient(to top, transparent, black);
}
.stage::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, black);
}

.projekce > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projekce h2 {
  margin-bottom: 0.5em;
}
.projekce > div:first-child p {
  width: 60%;
  text-align: center;
  margin: 0
}
.videoExamples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
}
.videoExamples div.video {
  position: relative;
  cursor: pointer;
  width: 40%;
}
.videoExamples div.video img {
  width: 100%;
  filter: blur(2px);
}

div.playBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.porota {
  background-color: #101010;
  color: #707070;
}
.porota p {
  line-height: 2;
}
.porota > div {
  padding-left: 50px;
}
.porota .separator {
  width: 100%;
  height: 5px;
  background-color: #191919;
  margin: 80px 0;
}

.porotci {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 60px;
}
.porotce {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.porotce span {
  flex-grow: 1;
  font-size: larger;
  padding: 1em 0;
  line-height: 1.5;
}
.porotce span b {
  color: #ABABAB;
}
.porotce .portrait {
  position: relative;
  height: 220px;
  width: 220px;
  flex: 0 0 220px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #2F2F2F, 0 0 20px #2F2F2F;
}
.porotce .portrait img {
  height: 100%;
  width: 100%;
}

.partners {
  position: relative;
  min-height: 80vh;
  background-color: #fff;
  color: #000;
}
.partners h2 {
  color: #000;
}
.partnerDetail {
  position: absolute;
  top: 35%;
  left: 10%;
  max-width: 40%;
  transform: translateY(-50%);
}
.slideshow {
  position: absolute;
  height: 88%;
  width: 100%;
  bottom: 12%;
  left: 0;
}
.partner {
  position: absolute;
  bottom: 0;
  width: 12%;
  height: 30%;
  right: 50%;
  cursor: pointer;
  transition-property: width, height, right;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
.partner.selected {
  width: 38%;
  height: 80%;
  right: 10%;
  z-index: 1;
}
.partner img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
  max-height: 100%;
  transition-property: bottom, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.partner.selected img {
  bottom: 50%;
}

.workshop {
  font-family: Poppins, sans-serif;
}
.workshop em {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}
.workshop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
  justify-content: space-around;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.workshop > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.workshop .content {
  width: 0;
  flex-grow: 1;
  text-align: center;
}
.instructor {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
}
.backToIndex {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: #999;
  border-radius: 1000px;
  width: max-content;
  text-decoration: none;
  text-transform: uppercase;
  font-size: larger;
}

.partners, .kontakty {
  padding-top: 50px;
  padding-bottom: 120px;
}

.kontakty {
  min-height: 500px;
  background-color: #F6F6F6;
  color: #000;
  display: flex;
  flex-direction: column;
}
.kontakty h2 {
  color: #0C1B20;
  text-align: center;
}
.kontakty > div {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
}
.kontakty > div > a {
  display: flex;
  align-items: center;
}
.kontakty > div > a img {
  width: 250px;
}
.deltaKontakt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 50%;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex: 1 0 50%;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contact div {
  display: inline-flex;
  flex-direction: column;
}
.name {
  font-size: x-large;
}

.dotaz {
  width: 35%;
  max-width: 35%;
  margin-top: 100px;
  max-width: 800px;
  flex: 1 0 100%;
}
.dotaz {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dotaz > div:first-of-type {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.dotaz input, .dotaz textarea, .dotaz button {
  border: 0;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}
.dotaz input {
  width: 100%;
}
.dotaz textarea {
  resize: vertical;
}
.dotaz button {
  width: max-content;
  background-color: #fff;
  cursor: pointer;
}
.dotaz button:hover {
  background-color: #eee;
}
.dotaz > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  color: #ABABAB;
}
.dotaz > div:nth-of-type(2) > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 35px;
}
.submitRow > div a, .submitRow > div svg {
  color: #ABABAB;
  font-size: 35px;
}

.infoBlock div {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5em;
}
.infoBlock  div:nth-of-type(2) {
  padding-left: 2em;
}
.infoShow {
  margin-bottom: 20px;
}
.infoShow > div {
  position: absolute;
  opacity: 0;
}
.infoShow > div:nth-child(1) {
  animation: info1 10s linear infinite;
}
.infoShow > div:nth-child(2) {
  animation: info2 10s linear infinite;
}
.infoShow > div:nth-child(3) {
  position: relative;
  animation: info3 10s linear infinite;
}
@keyframes info1 {
  5%, 45% {
      opacity: 1;
  }
  0%, 50%, 100% {
      opacity: 0;
  }
}
@keyframes info2 {
  0%, 50%, 75% {
      opacity: 0;
  }
  55%, 70% {
      opacity: 1;
  }
}
@keyframes info3 {
  0%, 75% {
      opacity: 0;
  }
  80%, 95% {
      opacity: 1;
  }
}

@media (max-width: 1300px){
  .section h2 {
      font-size: 3em;
      letter-spacing: 0;
  }
  .navigation {
      flex-wrap: wrap;
  }
  .navigation span {
      font-size: 1.1em;
      padding: 0.15em;
  }
  .categories ul {
      font-size: 1.6em;
  }
  .categories li {
      margin-top: 30px;
  }
  .applicationPoints li::marker, .applicationPoints span {
      font-size: 2em;
  }
  .porota > div {
      padding-left: 10px;
  }
  .section {
      padding-top: 40px;
      padding-left: 60px;
      padding-right: 60px;
  }
  .stage, .cameraPhoto {
      height: 80vh;
  }
  .cameraPhoto div.triangle {
      height: 150px;
  }
  #pageHead {
      padding: 170px 0 350px;
      margin-top: 50px;
  }
  .porotce {
      gap: 10px;
  }
  .porotce .portrait {
      height: 160px;
      width: 160px;
      flex: 0 0 160px;
  }
}
@media (max-width: 900px){
  .section h2 {
      font-size: 2.5em;
  }
  #pageHead {
      margin-top: 0;
  }
  #pageHead .introduction {
      padding: 0 60px 200px; 
  }
  .introduction div {
      font-size: 1em;
  }
  .introduction h1 {
      font-size: 3em;
  }
  .navigation {
      margin: 0;
      padding: 20px;
      justify-content: center;
      gap: 10px;
  }
  .navigation span {
      font-size: 0.9em;
  }
  .categories ul {
      font-size: 1.3em;
  }
  .section.kategorie .triangle {
      padding: 70px 20px 0;
  }
  .section {
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
  }
  .stage, .cameraPhoto {
      height: 60vh;
  }
  .cameraPhoto div.triangle {
      height: 110px;
  }
  .section.prihlaska {
      flex-direction: column;
      align-items: flex-start;
  }
  .workshop > div {
    flex-direction: column-reverse;
  }
  .workshop .content {
    width: initial;
  }
  .applicationPoints {
      margin-top: 60px;
      max-width: 100%;
  }
  .applicationPoints li::marker, .applicationPoints span {
      font-size: 1.6em;
  }
  .applicationPoints li {
      margin-top: 70px;
  }
  .porotci {
      grid-template-columns: 1fr;
      row-gap: 35px;
  }
  .kontakty > div {
      align-self: center;
      gap: 80px;
      flex-direction: column;
      align-items: center;
  }
  .contact {
    gap: 120px;
  }
  .dotaz {
      margin-top: 0;
      width: initial;
      max-width: unset;
      align-self: stretch;
  }
}
@media (max-width: 600px){
  .section h2 {
      text-align: center;
      margin: 0.2em 0 0.5em;
  }
  #pageHead .introduction {
      padding: 0 16px 180px; 
  }
  .introduction div {
      font-size: 1em;
  }
  .introduction div:nth-of-type(2) {
      padding-left: 1.2em;
  }
  .introduction h1 {
      font-size: 2em;
  }
  .partners {
      min-height: 60vh;
  }
  .prihlaska > div:first-child {
      margin: 0 auto;
  }
  .section.soutez p {
      max-width: 100%;
  }
  .categories ul {
      font-size: 1.2em;
  }
  .categories li {
      margin-top: 15px;
  }
  .kategorie > div {
      flex-direction: column-reverse;
  }
  .kategorie h2 {
      margin-bottom: 0;
  }
  .section {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 120px;
  }
  .applicationPoints li {
      margin-top: 40px;
  }
  .videoExamples {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      gap: 70px;
  }
  .videoExamples div.video {
      width: 100%;
  }
  .cameraPhoto div.triangle {
      height: 80px;
  }
  .porotce {
      flex-direction: column !important;
  }
  .porotce span {
      max-width: 350px;
  }
  .contact {
    gap: 20px;
  }
  .dotaz > div:nth-of-type(1) {
      flex-direction: column;
  }
  .dotaz input {
      width: initial;
  }
}